<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Topocentras_OfferSlider::manage" title="Offer Slider" module="Topocentras_OfferSlider" sortOrder="20" parent="Topocentras_Slider::slider" action="offerslider/slider/index" resource="Topocentras_OfferSlider::slider"/>
    </menu>
</config>
