<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Topocentras_OfferSlider::offerslider" title="Offer Sliders" sortOrder="100">
                    <resource id="Topocentras_OfferSlider::slider" title="Manage Sliders" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
