<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="topocentras_slider_slide_listing_data_source" xsi:type="string">Topocentras\Slider\Model\ResourceModel\Slide\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Topocentras\Slider\Model\ResourceModel\Slide\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">topocentras_slider</argument>
            <argument name="resourceModel" xsi:type="string">Topocentras\Slider\Model\ResourceModel\Slide</argument>
        </arguments>
    </virtualType>
</config>
